<div class="bg-dark text-white py-5">
  <div class="container py-5">
    <h1>
      Best tech products & <br />
      brands in our store
    </h1>
    <p>
      Welcome to our Tech Superstore, your one-stop destination for all your tech needs! Explore our vast selection of
      cutting-edge products, from sleek smartphones to powerful laptops, smart home devices, and much more.
    </p>
    <button type="button" class="btn btn-outline-light">
      Learn more
    </button>
    <button type="button" class="btn btn-light shadow-0 text-primary pt-2 border border-white">
      <span class="pt-1">Get Started</span>
    </button>
  </div>
</div>
<div>
  <div class="heading mt-4">
    <h3 class="text-center">Our store categories</h3>
    <div class="container my-5">
      <div class="row">
        <div class="col-md-3">
          <a href="/?category=smartphone"><img src="/images/download (11).jpg" class="rounded-circle mx-auto d-block mt-2" width="250px" height="250px"/></a>
        </div>
      
        <div class="col-md-3 mt-3">
          <a href="/?category=Airpod"><img src="/images/download.jpg" class="rounded-circle mx-auto d-block mt-2" width="250px" height="250px"/></a>
        </div>
        
        <div class="col-md-3 mt-3">
          <a href="/?category=laptop"><img src="/images/images.jpg" class="rounded-circle mx-auto d-block" width="250px" height="250px"/></a>
        </div>
         
         <div class="col-md-3 mt-3">
          <a href="/?category=smartwatch"><img src="/images/watch.jpg" class="rounded-circle mx-auto d-block" width="250px" height="250px"/></a>
        </div>
         
      </div>
    </div>
  </div>
<div class="heading mt-4">
   <h3 class="text-center">Latest products</h3>
   
</div>
</div>
<section style="background-color: #fff;">
  <div class="container py-5">
    <div class="row">
      {{#if product}}
      {{#each product}}
      
      <div class="col-md-12 col-lg-4 mb-4 mb-lg-0 mt-4 col-sm-6">
        <div class="card">
          <a href="/product-details/{{this.name}}">
            <img src="/product-images/{{this._id}}.jpeg" class="card-img-top" alt="{{this.category}}" width="200px"
              height="250px" />
          </a>
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <p class="small">{{this.category}}</p>
            </div>
            <div class="d-flex justify-content-between mb-3">
              <h5 class="mb-0">{{this.name}}</h5>
              <h5 class="text-dark mb-0">{{this.Price}}</h5>
            </div>
            <a href="/place-order" class="btn btn-warning shadow-0 mx-3 my-3"> Buy now </a>
            <a href="/add-to-cart/{{this._id}}" class="btn btn-primary shadow-0 mx-3 my-3">
              <i class="me-1 fa fa-shopping-basket"></i> Add to cart
            </a>
          </div>
        </div>
      </div>
     
      {{/each}}
      {{else}}
      <p>No products found.</p>
      {{/if}}
    </div>
  </div>
</section>
<footer class="text-center text-white bg-dark">
    <div class="container pt-4">
        <section class="mb-4">
            <a class="btn btn-link btn-floating btn-lg text-light m-1" href="" role="button"
                data-mdb-ripple-color="dark"><i class="fab fa-github"></i></a>
            <a class="btn btn-link btn-floating btn-lg text-light m-1" href="" role="button"
                data-mdb-ripple-color="dark"><i class="fab fa-google"></i></a>
            <a class="btn btn-link btn-floating btn-lg text-light m-1" href="" role="button"
                data-mdb-color="dark"><i class="fab fa-linkedin"></i></a>
        </section>
    </div>
    <div class="text-center text-white bg-dark p-3">
        This is fake Ecommerce Website.
    
  </div>

</footer>